<div class="container-fluid pt-5 pb-2"> 
    <% if comments.count > 0 %>
        <% comments.each do |comment| %> 
            <div class="row justify-content-center align-content-center">
                <div class="col-md-5 pt-3 comment-Top">
                    <% if comment.id.present? %>                                
                        <p><%= comment.user.name %></p>
                        <p><%= comment.content %></p>                       
                        <% if comment.user.id == current_user.id %>
                            <p class="text-right"><%= link_to I18n.t('views.buttons.edit'), edit_movie_comment_path(movie, comment), remote: true, class: "btn btn-primary mr-3 edit" %> <%= link_to I18n.t('views.buttons.delete'), movie_comment_path(comment.movie_id, comment.id), method: :delete, remote: true,class: "btn btn-danger mr-3 delete",data: { confirm: I18n.t('views.messages.sure')} %></p>                               
                        <% end %>
                        <div class="comment-content" id ="this_comment_<%= comment.id %>"></div>                    
                    <% end %>
                </div> 
            </div>
        <% end %> 
    <% end %> 
    <p id="notice" class="text-success text-center"></p>      
</div>

