<div class="container-fluid mt-5">
    <div class="row justify-content-center align-content-center">
        <div class="col-md-4 text-center">
            <h2 id="title" class="font-weight-bold"><%=I18n.t('views.messages.profile')%></h2>                                   
        </div>
    </div>
    <div class="row justify-content-center align-content-center">
        <div class="col-md-4 text-center pt-3">
            <p> <%= current_user.name %> </p>     
            <p> <%= current_user.email %> </p>  
            <p class="text-center mt-4"><%= link_to I18n.t('views.messages.updateProfile') , edit_user_registration_path, class: 'update-button' %>                           
        </div>
    </div>
</div>

<div class="container-fluid pt-3 mt-4 pb-5">
    <div class="row justify-content-center align-content-center text-center">
        <div class="col-md-5">
            <h1 id="title"><%=I18n.t('views.messages.favoritesMovies')%></h1>                     
        </div>
    </div>
    <div class="row justify-content-center align-content-center mt-4">
        <% if @user.favorite_movies.count > 0%>
            <% @user.favorite_movies.each do |movie| %>
                <div class="col-lg-3 col-md-6 mb-md-5 mb-lg-0 d-flex align-items-stretch">
                    <div class="card shadow border-none" style="width: 100%;">
                       <% if movie.image && movie.image.url%>
                            <%= image_tag (movie.image_url), height: 230 %> 
                        <% else %>
                            <%= image_tag "no-images.jpg", height:230 %>
                        <% end %>
                        <div class="card-body">
                            <h5 class="card-title text-center font-weight-bold"><%= movie.name %></h5>
                            <p class="card-text"><%= movie.description %></p>
                            <p class="text-justify"><%=I18n.t('views.messages.productedBy')%>: : <%= movie.director %></p>
                            <p class="text-center mt-4"><%= link_to I18n.t('views.buttons.watchAgain') , movie_path(movie.id), class: "watch-button" %></p>                    
                        </div>
                    </div>        
                </div>
            <%end%>
        <% else %>
            <p> <%=I18n.t('views.messages.noFavorites')%></p>
        <%end%>
    </div>
</div>
